* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: rgb(253, 245, 235);
    overflow-x: hidden;
}

/*header */

header {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;

    & img {
        width: 60px;
    }

    & h4 {
        font-size: 25px;
    }
}

.navbar ul {
    display: flex;
    gap: 40px;

}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #0c0c0c;
    font-size: 16px;
    font-weight: 700;
}

/* hero */
.hojas {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

.hoja1 {
    left: -300px;
    transform: rotate(40deg);
}

.hoja2 {
    right: -180px;
    bottom: -20px;
    transform: rotate(-70deg);
    width: 180px;


}


.hero {
    width: 80%;
    margin: 80px auto 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-txt {
    display: flex;
    flex-direction: column;
    gap: 40px;

    & h2 {
        font-size: 60px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;


    }
}

.hero-txt h2 div {
    display: flex;

    align-items: center;
    gap: 10px;
}

.hero-txt h2 img {
    width: 55px;
}

.hero-txt p {
    font-size: 20px;
}

.hero-txt a {
    text-decoration: none;
    padding: 12px 20px;
    background-color: rgb(212, 120, 0);
    color: aliceblue;
    width: 170px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 900;

}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-img img {
    width: 570px;
}

/* contenido */





.contenido {
    width: 80%;
    margin: 80px auto 0px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
    position: relative;


}

.contenido-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-img img {
    width: 400px;
    margin-right: 100px;
}

.contenido-txt {
    display: flex;
    flex-direction: column;
    gap: 40px;

    & h2 {
        font-size: 35px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

    }
}

.contenido-txt h2 div {
    display: flex;

    align-items: center;
    gap: 10px;
}

.contenido-txt h2 img {
    width: 45px;
}

.contenido-txt p {
    font-size: 20px;
}

/* cards */

.cards .hojas {
    position: absolute;
}

.hoja4 {
    right: -100px;
    top: 100px;
    transform: rotate(-20deg);
}

.hoja5 {
    left: -120px;
    transform: rotate(80deg);
}

.titulo {
    margin-top: 150px;
    font-size: 40px;
    text-align: center;
}

.cards {
    width: 80%;
    margin: 120px auto 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: relative;



    & img {
        width: 220px;
        position: relative;
        bottom: 50px;
    }


}

.card {
    width: 250px;
    height: 220px;
    background-color: rgb(249, 248, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(254, 229, 192);
    border-radius: 20px;
    gap: 20px;

    & .desc {
        text-align: center;
        position: relative;
        bottom: 50px;

    }

}

.card h3 {
    font-size: 20px;
}

.price {
    font-size: 20px;
    color: #d47800;
    font-weight: bold;
    position: relative;
    bottom: 50px;
}

/* promo */

.hojas {
    position: absolute;
}

.promo {
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: relative;
}

.promo-txt {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.promo-txt h2 {
    font-size: 35px;
}

.promo-txt p {
    font-size: 20px;
}

.promo-txt a {
    text-decoration: none;
    padding: 12px 20px;
    background-color: rgb(212, 120, 0);
    color: aliceblue;
    width: 170px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 900;

}


.promo-img img {
    width: 400px;
}

/* oferta */

.hojas {
    position: absolute;
}

.oferta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 150px auto 0;
    width: 70%;
    background-color: #2b221a;
    border-radius: 50px;
    padding: 50px;
    position: relative;
}

.oferta-img img {
    width: 250px;
}

.oferta-txt h2 {
    color: rgb(253, 245, 236);
    font-size: 24px;
    font-weight: 100;
}

.oferta-txt form {
    margin-top: 20px;

}

.oferta-txt form input {
    height: 40px;
    border-radius: 50px;
    width: 200px;
    padding: 10px;

}

.oferta-txt form button {
    background-color: #d47800;
    padding: 10px;
    border-radius: 50px;
    color: #ffffff;
    border: none;
}

/* footer */

.hojas {
    position: absolute;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    width: 100%;
    position: relative;
}

.footer-desc {
    display: flex;
    align-items: self-start;
    gap: 100px;
    font-size: 16px;

}

.footer ul li {
    list-style: none;

}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 50px 0 10px;
}